/*** CSS for Awesome Table Gadget***/
/* loader progress bar */
.loader {
        background-color:blue;
}

/*** Configuration of FILTERS ***/

/** Labels of filters **/
.google-visualization-controls-label {
        color:green;
        font-weight: 500        !important;
        font-size:1em           !important;
        text-align: center
}

/** StringFilter **/
.google-visualization-controls-stringfilter INPUT {
        border:1px solid pink   !important;
        color:pink;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
}
.google-visualization-controls-stringfilter INPUT:hover {
        border:1px solid purple;
        border-top:1px solid purple;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
}
.google-visualization-controls-stringfilter INPUT:focus {
        border:1px solid yellow;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
}

/* CategoryFilter & csvFilter hovered item in the dropdown */
.charts-menuitem-highlight {
        background-color:orange  !important;
        border-color:orange       !important;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        color:orange      !important;
}

/* This is the style for 2 things. Which event the user selects and which event the mouse is hovering over. */
.google-visualization-table-tr-sel td, .google-visualization-table-tr-over td {
        background-color:#c7c7c7!important;
}

/*  This styles the box and it's text, which sit directly on top of the list of events   (currently labeled "Events")   */
.google-visualization-table-table .gradient, .google-visualization-table-div-page .gradient {
        color: #FFFFFF!important;
        font-size:2em!important;
        border-radius: 10px 10px 0px 0px;

}






