/*** CSS for Awesome Table Gadget***/
/* loader progress bar TESTING LIGHT BLUE*/
.loader {
        background-color:#00d9ff;
}

/*** Configuration of FILTERS ***/

/** Text labels that appear either in or above the filter boxes. This is not the text that appear in the boxes that populate once filters have been selected by the user **/
.google-visualization-controls-label {
        color:#000000;
        font-weight: 500!important;
        font-size:1em!important;
        text-align: center
}

/** StringFilter TESTING PINK**/
.google-visualization-controls-stringfilter INPUT {
        border:1px solid #ff00e6!important;
        color:#ff00e6;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
}

/*TESTING PURPLE*/
.google-visualization-controls-stringfilter INPUT:hover {
        border:1px solid #c300ff!important;
        border-top:1px solid #c300ff!important;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
}

/* TESTING YELLOW */
.google-visualization-controls-stringfilter INPUT:focus {
        border:1px solid #ffe600!important;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
}

/* CategoryFilter & csvFilter hovered item in the dropdown TESTING ORANGE */
.charts-menuitem-highlight {
        background-color:#ff9100!important;
        border-color:#ff9100!important;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        color:#ff9100!important;
}

/* This is the style for 2 things. Which event the user selects and which event the mouse is hovering over. */
.google-visualization-table-tr-sel td, .google-visualization-table-tr-over td {
        background-color:#c7c7c7!important;
}

/*  This styles the box and it's text, which sit directly on top of the list of events   (currently labeled "Events")   */
.google-visualization-table-table .gradient, .google-visualization-table-div-page .gradient {
        background-color:#006eff!important;
        color: #FFFFFF!important;
        font-size:2em!important;
        border-radius: 10px 10px 0px 0px;

}






