.container {
width:100%;
text-align: center;
}


body {
font-family: 'Noto+Serif', sans-serif!important;
}

.google-visualization-table-table {
font-family: 'Noto+Serif', sans-serif!important;
}

.photo {
width:50px;
height: 50px;
float:left;
margin:5px 10px 5px 5px!important;
}

.photo-container {
 border-radius: 50%;
overflow: hidden;
width: 150px;
height: 150px;
margin: 0 auto;
border: solid 4px white;
margin:0 auto!important;
}

.event-name {
color:#000000;
margin-top:10px!important;
font-weight:bold;
}

/*This is for holding the event type, mostly just to change color */
.event-type {
  margin-top: 0px!important;
  color: #0045b8;
  font-weight:bold;
  }

.about-container {
 background-color: #f1f1f1;
width:100%;
text-align: center;
padding-bottom: 5px;
padding-top: 15px;
border-radius: 10px 10px 0px 0px;

}

.gameType {
margin-bottom: 0px!important;
font-weight: initial;
color: #000000;
}

.about-container2 {
  background-color: #f1f1f1;
width:100%;
text-align: center;
margin-top: 10px;
}

.timeType {
margin-bottom: 0px!important;
margin-top: 10px!important;
font-weight: bold;
color: #000000;
}

.name {
margin-bottom: 0px!important;
margin-top: 5px!important;
font-weight: bold;
color: #000000;
font-size: 1.3em!important;
}


.description {
margin-top: 0px!important;
color: #000000;
font-weight:bold;
}

.info-container {
text-align: left;

}

.basic-info-container{
padding: 4%;
vertical-align: top;
margin-top: 10px;
}

#sidebar {
display:flex;
}

.button1 {
        display: inline;
        margin: auto;
        float: center;
        border-radius: 10px;
        text-align:center;
        font-weight: bold;
        margin-bottom: 2px;
        margin-left: 5px;
        margin-right: 5px;
}


.button2 {
        display: block;
        border-radius: 10px;
        width: 100%;
        text-align:center;
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 1px;
        margin-bottom: 1px;
}
